- routes_from = source_exchange.routes_from
- if routes_from.any?
  %ul
    - routes_from.each do |m_route|
      %li
        %p= m_route.routing_key
        %p= m_route.to_exchange.display_name
        = render partial: "source_exchange", object: m_route.to_exchange
