<div class="footer navbar-fixed-bottom">
<div id="footer">
  <div class="container">
    <p class="text-muted credit">Copyright © 2016 OPEN-HBX AMQP TOPLOGY <br /> All Rights Reserved.</p>
  </div>
</div>
</div>